@import "tailwindcss";

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #494545;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: 'Robot';
  src: url('../assets/Roboto-Light.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Robot';
  src: url('../assets/Roboto-Regular.ttf');
  font-weight: 700;
}

@theme {
  --color-simple-white: #f5f5f5;
  --color-simple-black: #827eab;

  --animate-fadeIn: fadeIn .25s ease-in-out forwards;
}

@keyframes fadeIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

:root {
  font-family: 'Robot', sans-serif, system-ui;
  box-sizing: border-box;
}

input[type="text"],
input[type="password"] {
  background-color: transparent;
  border-bottom: 1px solid black;
}

input[type="text"]:focus-visible,
input[type="password"]:focus-visible {
  outline: none;
}

button.primary{
  background-color: rgb(60, 124, 242);
}

button {
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
}

button:hover {
  transition: .5s ease;
  opacity: 0.9;
}

button:disabled{
  background-color: gray;
}

button:disabled:hover{
  cursor: not-allowed;
}